<!DOCTYPE html>
<html>
<head>
  <title>ITCPROJECT2016</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1> This is ITC PROJECT 2016 SEMESTER 1 </h1>
</body>
</html>